$primaryBtn : rgb(182, 40, 182);

header{
  background: lightblue;
  display: flex;
  justify-content: center;
  button{
    background: $primaryBtn;
    &:hover{
      background: green;
    }
  }
}


.contact button{
  background: $primaryBtn;
}